<html lang="en">
<!-- form for read one data -->
<head>
    <!-- connect style file -->
    <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h3 id="listTitle">List of Gym Members</h3>
    <!-- listing one data-->
    <div>
        Full name : <%= member.name %>
    </div>

    <div>
        Gender : <%= member.gender %>
    </div>

    <div>
        Year of Birth : <%= member.yearOfBirth%>
    </div>

    <div>
        Personal training : <%if (member.personalTraining==true) {%> Yes
            <%} else {%> No <%}%>
    </div>

    <div>
        <label>Facility</label>
    </div>

    <div>1.Locker : <%if (member.facility.locker==true) {%> Yes
            <%} else {%> No <%}%>
    </div>

    <div>2.Poor : <%if (member.facility.locker==true) {%> Yes
            <%} else {%> No <%}%>
    </div>

    <div>3.Shower : <%if (member.facility.shower==true) {%> Yes
            <%} else {%> No <%}%>
    </div>
    <!--set buttons to update, delete, or go back to list-->
    <button id="readButton" onclick="location.href='/delete/<%= member._id %>'">Delete</button>
    <button id="readButton" onclick="location.href='/update/<%= member._id %>'">Update</button>
    <button id="readButton" onclick="location.href='/'">Back</button>

</body>

</html>